* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #2f2f2f;
    width: 100%;
    font-family: 'Signika Negative', sans-serif;
    font-size: 18px;
}

nav {
    background-color: #a88dd1;
    padding: 5px 30px;
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

nav a {
    color: #2f2f2f;
    text-decoration: none;
    font-weight: bold;
}

.navbar-logo {
    max-width: 60px;
    height: auto;
}

.navbar-title {
    color: #941c2f;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Lily Script One', cursive;
}

.navbar-right {
    justify-content: flex-end;
    gap: 30px;
    margin-left: 20px;
}

.navbar-button {
    background-color: #f7e8a4;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #2f2f2f;
}

/* MAIN SECTION - JUMBOTRON */

.container-lavender {
    background-color: #a88dd1;
    display: flex;
    align-items: center;
}

.container-lavender h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.container-lavender form {
    display: flex;
    margin-top: 40px;
}

.container-lavender input {
    width: 100%;
    margin-right: 10px;
}

.container-lavender input, .container-lavender button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
}

.container-lavender button {
    background-color: #f7e8a4;
    color: #2f2f2f;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    padding: 16px;
    font-size: 20px;
    font-family: 'Signika Negative', sans-serif;
    border-radius: 20px;
}

.container-lavender form button {
    margin-top: 0;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
}

.container-lavender img {
    max-width: 100%;
}

.container-lavender-img, .container-lavender-text {
    flex: 1;
}

.container-lavender-text {
    padding: 50px 30px 80px;
}

/* MAIN SECTION - CATALOG */

.container-aqua {
    background-color: #a5dce9;
    padding: 60px 40px 100px;
    text-align: center;
}

.container-aqua h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}

.card {
    padding: 20px;
    width: 30%;
    background-color: #f7e8a4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.card img {
    max-width: 100%;
    flex: 1;
}

.card h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.card button {
    margin-top: 20px;
    padding: 10px;
    border: dotted #2f2f2f;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Signika Negative', sans-serif;
    background-color: #a88dd1;
    color: #2f2f2f;
    font-weight: bold;
    cursor: pointer;
}

/* FOOTER */

.footer-container {
    background-color: #a5dce9;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #555;
}

.footer-column {
    margin-bottom: 20px;
    padding: 20px;
    width: 25%;
}

.footer-column h4 {
    margin-bottom: 20px;
}

.footer-column a {
    display: block;
    color: #555;
    text-decoration: none;
    margin-bottom: 20px;
}

.social-media a {
    display: inline-block;
    margin-right: 20px;
}

.footer-credits {
    text-align: center;
    background-color: #a5dce9;
    padding: 0px 40px 40px;
    color: #777;
}

.footer-credits a {
    color: #a88dd1;
    text-decoration: none;
}


/* MEDIA QUERIES */

@media (max-width: 768px) {
    .container-lavender, .footer-container {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 40px;
    }

    .footer-column {
        width: 100%;
    }
}