* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #8b635c;
    width: 100%;
    font-family: 'Signika Negative', sans-serif;
    font-size: 18px;
}

nav {
    background-color: #d5a0f1;
    padding: 5px 30px;
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

nav a {
    color: #941c2f;
    text-decoration: none;
}

.navbar-logo {
    max-width: 60px;
    height: auto;
}

.navbar-title {
    color: #941c2f;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Lily Script One', cursive;
}

.navbar-right {
    justify-content: flex-end;
    gap: 30px;
    margin-left: 20px;
}

.navbar-button {
    background-color: #faff7f;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Signika Negative', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #941c2f;
}

/* MAIN SECTION - JUMBOTRON */

.container-aqua {
    background-color: #00eee4;
    color: #8b635c;
    display: flex;
    align-items: center;
}

.container-aqua-left {
    flex: 1;
    padding: 30px;
}

.container-aqua-left h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.container-aqua-left form {
    display: flex;
    margin-top: 40px;
}

.container-aqua-left input {
    width: 100%;
    margin-right: 10px;
}

.container-aqua-left input, .container-aqua-left button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
}

.container-aqua-left button {
    background-color: #faff7f;
    color: #941c2f;
    font-weight: bold;
    cursor: pointer;
}

.container-aqua-right {
    flex: 1;
}

.container-aqua-right img {
    max-width: 100%;
}


/* MAIN SECTION - CATALOG */

.container-yellow {
    background-color: #faff7f;
    padding: 60px 40px;
    text-align: center;
}

.container-yellow h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}

.card {
    padding: 20px;
    width: 30%;
    background-color: blanchedalmond;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.card img {
    max-width: 100%;
    flex: 1;
}

.card h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.card button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    background-color: #d5a0f1;
    color: #941c2f;
    font-weight: bold;
    cursor: pointer;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .container-aqua {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 40px;
    }
}